<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
  </head>
  <body class="c-app">
    <div class="c-wrapper">
      <header class="c-header c-header-light c-header-fixed">
      </header>
      <div class="c-body">
        <main class="c-main">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
<div class="card">
      <h5 class="card-header">完成30天鐵人賽</h5>
      <div class="card-body">
        <p class="card-text">每天寫一篇，連續30天</p>
        <span><a href="/tasks/1/edit">修改</a><a data-confirm="確定刪除?" rel="nofollow" data-method="delete" href="/tasks/1">刪除</a></span>
      </div>
    </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div><!-- Optional JavaScript -->
    <!-- Popper.js first, then CoreUI JS -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
  </body>
</html>
